name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # Replace with your primary branch name

jobs:
  build_and_push_docker_image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: Dockerfile
        push: true
        tags: your-dockerhub-organization/your-repo-name:latest

  deploy_to_aws_beanstalk:
    runs-on: ubuntu-latest
    needs: build_and_push_docker_image

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install awsebcli

    - name: Deploy to AWS Elastic Beanstalk
      run: |
        eb init your-app-name --platform docker --region your-aws-region
        eb use your-environment-name
        eb setenv DOCKER_APP_IMAGE=your-dockerhub-organization/your-repo-name:latest
        eb deploy
